* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #1B1F25;
    font-family: Arial, sans-serif; /* Add a font for better readability */
}



#projects {
    padding: 40px 16px;
    background-color: #1B1F25;
}

#projects h2 {
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

/* Grid Container Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 16px; /* Adjust the gap between grid items as needed */
    padding: 0 16px; /* Optional: Add some padding around the container */
}

/* Grid Item Styles */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #36cda7; /* Add a background color to grid items */
    border: 4px solid #00fffb; /* Add a border to grid items */
    border-radius: 8px; /* Add border-radius for rounded corners */
    padding: 16px; /* Add padding inside grid items */
    text-align: center; /* Center align text inside grid items */
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add border-radius for rounded corners on images */
}

.grid-item p {
    margin-top: 8px; /* Space between image and text */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: 700;
    color: #333; /* Adjust text color as needed */
}

footer {
    width: 100%;
    padding: 16px;
    background-color: #282C34;
    color: white;
    text-align: center;
    position: fixed; /* Make the footer fixed at the bottom */
    bottom: 0;
    left: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    }
}
